*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
body{
    height: 150em;
}
section{
    width: 100%;
    height: 60em;
    background-image: url(../iv_computacion/img/business-1209705_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.listado{
    margin-top: 20em;
    text-align: center;
    
}
.listado li{
    width: 7em;
    height: 7em;
    background-color: #4680EC;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.7em;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    float:left;
}

.listado li a{
    font-size: 0.8em;
    
    color: aliceblue;
}

.listado li a:hover{
    color: lightskyblue;
    transition: 0.8s;
}
.BrandonGomez{
    background-image: url(../iv_computacion/img/foto_perfil/yoxd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.AnderssonNavas{
    background-image: url(../iv_computacion/img/foto_perfil/Andersson_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.CrisMiranda{
    background-image: url(../iv_computacion/img/foto_perfil/CristopherMiranda.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ErvinNatareno{
    background-image: url(../iv_computacion/img/foto_perfil/ErvinNatareno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.GenesisSubuyuj{
    background-image: url(../iv_computacion/img/foto_perfil/GenesisSubuyuj.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.GerardoAlvarez{
    background-image: url(../iv_computacion/img/foto_perfil/Gerardo_ogj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.JoseMazariegos{
    background-image: url(../iv_computacion/img/foto_perfil/fotojose.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.JuanBarco{
    background-image: url(../iv_computacion/img/foto_perfil/JuanBarco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.KeresS{
    background-image: url(../iv_computacion/img/foto_perfil/SophiaV.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.MariaMejia{
    background-image: url(../iv_computacion/img/foto_perfil/maria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.MarlonMartinez{
    background-image: url(../iv_computacion/img/foto_perfil/marlonmartinez.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.RenatoLopez{
    background-image: url(../iv_computacion/img/foto_perfil/RenatoLopez.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.RigoCastellanos{
    background-image: url(../iv_computacion/img/foto_perfil/rigobertocastellanos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.RodrigoGusmas{
    background-image: url(../iv_computacion/img/foto_perfil/RodrigoGuzman.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ValeriaEstrada{
    background-image: url(../iv_computacion/img/foto_perfil/valerie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.YasminAntonio{
    background-image: url(../iv_computacion/img/foto_perfil/imgyasminn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
