*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
body{
    font-size: 10px;
}
section{
    width: 100%;
    height: auto;
    padding-top: 5em;
}
.section{
    width: 1300px;
    height: auto;
    margin: auto;
    margin-top: 2em;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
