*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

/****************************************
#       CONFIGURACION RESPONSIVE        *
****************************************/

@media only screen and (max-width:1440px) {

    body{
        font-size: 8px;
    }
}

@media only screen and (max-width:1366px) {
    
    body{
        font-size: 9px;
    }
}

@media only screen and (max-width:1024px) {
    body{
        font-size: 8px;
    }
}

@media only screen and (max-width:768px) {
    body{
        font-size: 8px;
    }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width:320px) {}
