*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
body{
    font-size: 10px;
}
section{
    width: 100%;
    height: auto;
}

.section{
    width: 130em;
    height: auto;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/****************************************
#       CONFIGURACION RESPONSIVE        *
****************************************/

@media only screen and (max-width:1440px) {

    body{
        font-size: 8px;
    }
}

@media only screen and (max-width:1366px) {
    body{
        font-size: 7px;
    }
}

@media only screen and (max-width:1024px) {
    body{
        font-size: 8px;
    }
}

@media only screen and (max-width:768px) {
    body{
        font-size: 8px;
    }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width:320px) {}