.asignaciones{
    width: 30em;
    height: 40em;
    padding-left: 10em;
    margin-top: 10em;
    position: fixed;
}
.asignaciones h2{
    color: #1F1F1F;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0.5em 0em 0.5em 0em;
    cursor: pointer;
}
.asignaciones h2:hover{
    color: blue;
}
.asignaciones ul{
    list-style: none;
    margin-left: 2.4em;
}
.asignaciones ul li{
    font-size: 1.6em;
    margin-bottom: 0.3em;
    font-weight: 400;
    color: #1F1F1F;
    transition: 0.3s;
}
.asignaciones ul li:hover{
    color: blue;
    cursor: pointer;
    margin-left: 0.5em;
    transition: 0.3s;
}
.ico_plus{
    font-size: 0.8em;
}