@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xcgc97');
  src:  url('fonts/icomoon.eot?xcgc97#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xcgc97') format('truetype'),
    url('fonts/icomoon.woff?xcgc97') format('woff'),
    url('fonts/icomoon.svg?xcgc97#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-compass:before {
  content: "\e949";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
