
header{
    width: 100%;
    height: auto;

    -webkit-box-shadow: 0px 0px 2px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 2px 0px rgba(77,77,77,1);
}
.margen{
    width: 130em;
    height: 6em;
    margin: auto;
}
.img_logo{
    width: 8em;
    height: 4em;
    margin-top: 1em;
}

nav{    
    width:auto;
    height: auto;
    margin-top: 1em;
    float: right;
}
nav a{
    display: block;
    widows: 100%;
    height: 100%;
    text-decoration:none;
    color:inherit;
    font-size:1.4em;
    padding-top: 0.8em;
}            
nav li{
    width:13em;
    height:4em;
    display:inline-block;
    text-align:center;
    color:black;
    position:relative;
    transition-duration: 0.3s;
}           
nav li:hover{
    color:black;
    background-color: #E8E8EA;
}          
nav li ul{
    display:none;
    transition: 0.3s;
}
nav li:hover>ul{
    background-color: white;
    display:block;
    position:absolute;
    top:3.5em;
    left: 1em;
    box-shadow:0px 2px 9px -1px #575757;
    -moz-box-shadow:0px 2px 9px -1px #575757;
    -webkit-box-shadow:0px 2px 9px -1px #575757;
}