.section{
    max-width: 130rem;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
header{

    -webkit-box-shadow: 0px 0px 2px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 2px 0px rgba(77,77,77,1);

}
.margen{
    max-width: 130rem;
    height: 6em;
    padding: 0 5rem;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_logo{
    width: 8em;
    height: 4em;
    cursor: pointer;
}

nav a{
    display: block;
    widows: 100%;
    height: 100%;
    text-decoration:none;
    color:inherit;
    font-size:1.4em;
    padding-top: 0.8em;
}            
nav li{
    width:13em;
    height:4em;
    display:inline-block;
    text-align:center;
    color:black;
    position:relative;
    transition-duration: 0.3s;
}           
nav li:hover{
    color:black;
    background-color: #E8E8EA;
}          
nav li ul{
    display:none;
    transition: 0.3s;
}
nav li:hover>ul{
    background-color: white;
    display:block;
    position:absolute;
    top:3.5em;
    left: 1em;
    box-shadow:0px 2px 9px -1px #575757;
    -moz-box-shadow:0px 2px 9px -1px #575757;
    -webkit-box-shadow:0px 2px 9px -1px #575757;
}


/* Orgnizar grados */
.ordenarGrados{
    display: flex;
    justify-content: space-around;
}